.grid > * {
    margin: 0;
    padding: 0;
  }
  p {
    background-color: none;
    border: 2px none;
    counter-increment: p;
  }
  

  
  /* .grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;
    gap: 24px;
  }
  
  p:nth-of-type(1) {
    grid-column: span 2;
  }
  
  p:nth-of-type(5) {
    grid-column: span 3;
    grid-row: span 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  } */
  
  .grid {
    display: grid;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine"
      "ten eleven twelve";
  }
  
  p:nth-of-type(1) {
    grid-area: one;
    background-color: lightgrey;
    margin-left: 10px;;
    width: 700px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 28px;
    padding-right: 250px;
    border-radius: 13px;
  }
  
  p:nth-of-type(2) {
    grid-area: two;
    border-right: none;
    border-bottom: none;
    background-color: lightgrey;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;

  }
  p:nth-of-type(3) {
    grid-area: three;
    border-left: none;
    border-bottom: none;
    background-color: lightgrey;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
  }
  p:nth-of-type(4) {
    grid-area: four;
    margin: 10px;
    width: 700px;
    height:600px;
    padding-right: 250px;
    background-image: url("./disney.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:30%;
    border-color: none;
    border-radius: 13px;


  }
  
  
  p:nth-of-type(5) {
    grid-area: five;
    border-top: none;
    border-right: none;
    background-color: lightgrey;
    
  }
  p:nth-of-type(6) {
    grid-area: six;
    border-top: none;
    border-left: none;
    background-color: lightgrey;
    text-align: right;
    display: flex;
    justify-content:end;
  }

  p:nth-of-type(7) {
    grid-area: seven;
    background-color: darkgray;
    width: 300px;
    height: 70px;
    border-radius: 40px;
    margin-left: 320px;
    margin-top: -50px;
    text-align: center;

  }
  p:nth-of-type(8) {
    grid-area: eight;
    margin-top: -500px;
    margin-bottom: 450px;
    width: 220px;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
  }


  p:nth-of-type(9) {
    grid-area: nine;
    margin-top: -600px;
    margin-bottom: 550px;
    width: 220px;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
  }
  p:nth-of-type(10) {
    grid-area: ten;
    width: 400px;
    height: 80px;
    background-color: gray;
    margin-left: 270px;
    margin-top: -30px;
    text-align: center;
  }
  p:nth-of-type(11) {
    grid-area:eleven;
    background-color: rgb(10, 10, 10);
    margin-right: 950px;
    margin-left: -930px;
    margin-bottom: 450px;
    margin-top: -600px;
    border-radius: 13px;

  }

  p:nth-of-type(12) {
    grid-area: twelve;
    background-color: azure;
    margin-right: 1200px;
    margin-left: -1130px;
    margin-top:-590px;
    margin-bottom: 630px;
    border-radius: 50px;
    text-align: center;
    animation-play-state: url("./baby_swing.mp4");

  }
  p:nth-of-type(13) {
    grid-area: thirteen;
    margin-top: -500px;
    margin-bottom: 350px;
    width: 200px;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: -200px;
  }
  
  p:nth-of-type(14) {
    grid-area: fourteen;
    margin-top: -200px;
    margin-bottom: 170px;
    width: 200px;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: -400px;
  }
    
  p:nth-of-type(15) {
    grid-area: fiftteen;
    margin-top: -200px;
    margin-bottom: 170px;
    width: 200px;
    font-size: 20px;
    background-color: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: -150px;
  }
    