body{
    background-color: black;
    color:white;
}

body{ 
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;
*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav"
    "hero hero hero hero"
    "main main . sidebar"
    "footer-img f-two f-three f-four";
    row-gap: 10px;
}
@media (max-width: 380px){
    body{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav nav"
        "hero hero hero hero"
        "main main main main"
        "f-two f-three f-four";

    }
.f-one{
    display: none;
}
.sidebar{
    display: none;
}
    
header: :after{
    content: url("http//")
}
}

header{
    grid-area: nav;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 

}


.hero{
    grid-area: hero;
    text-align: center;
    position: relative;
}

abosolute-center{
    position: absolute
}

main{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

.f-one{
    grid-area: footer-img;
}

.f-two{
    grid-area: f-two;
}

.f-three{
    grid-area:f-three;
}

.f-four{
    grid-area: f-four;
}

.flex-stretch{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 380px){

}